.view-slideshow .views-field-nothing > span > div {
  padding-right: 30%; }

.view-faqs .view-footer {
  position: absolute;
  bottom: -85px;
  left: 34%;
  right: 0;
  text-align: left; }

.header-block h2 {
  font-size: 3.4em; }
.header-block .content {
  padding-right: 10%;
  font-size: 1.625; }

.newsletter-pdf {
  float: left;
  width: 34.042553191%;
  margin-top: 0;
  text-align: left; }
