.view-members-listing .views-field {
  display: block;
  width: auto; }

.view-member-description .right {
  float: none;
  width: auto; }
.view-member-description #profile-picture {
  float: none;
  line-height: inherit; }
